@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
   name: "invest";
   default: false;
   prefersdark: false;
   color-scheme: "light";
   --color-base-100: #fff;
   --color-base-200: #fffbf0;
   --color-base-300: #e5e7eb;
   --color-base-content: #000;
   --color-primary: #97bc4e;
   --color-primary-content: oklch(100% 0 0);
   --color-secondary: #269e43;
   --color-secondary-content: oklch(100% 0 0);
   --color-accent: #e9f3d8;
   --color-accent-content: #97bc4e;
   --color-neutral: #97bc4e;
   --color-neutral-content: oklch(98% 0.002 247.839);
   --color-info: #0090f1;
   --color-info-content: oklch(97% 0.013 236.62);
   --color-success: #269e43;
   --color-success-content: oklch(97% 0.021 166.113);
   --color-warning: #f4a300;
   --color-warning-content: oklch(98% 0.026 102.212);
   --color-error: #d90429;
   --color-error-content: oklch(96% 0.015 12.422);
   --radius-selector: 1rem;
   --radius-field: 0.5rem;
   --radius-box: 1rem;
   --size-selector: 0.25rem;
   --size-field: 0.28125rem;
   --border: 1px;
   --depth: 0;
   --noise: 0;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.shadow-custom{
   box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.2);
}
.tooltip:before {
    white-space: normal;
    max-width: 200px;
 }

.input:disabled,
.input[disabled] {
   cursor: not-allowed;
   border-color: var(--color-accent);
   background-color: var(--color-accent);
   color: var(--color-base-content);
}

.input:has(> input:disabled) {
   cursor: not-allowed;
   border-color: var(--color-base-300);
   background-color: var(--color-base-300);
   color: var(--color-base-content);
}

.btn {
   &:is(:disabled, [disabled], .btn-disabled) {
      &:not(.btn-link, .btn-ghost) {
            background-color: var(--color-accent);
            opacity: 60%;
            color: var(--color-base-content);
            border-color: var(--color-accent);
            cursor: not-allowed;
      }
   }
}

.stat {
   &:not(:last-child) {
      @supports (color: color-mix(in lab, red, red)) {
         border-inline-end: none;
      }
   }
}