name: Deploy to production

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deploy-prod:
    if: github.event_name == 'workflow_dispatch' 
    runs-on: ubuntu-latest
    environment: production
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        id: build
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/arm64/v8
          push: false
          load: true
          tags: local:${{ github.sha }}

      - name: Prepare SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Deploy image via streaming git:load-image
        run: |
          docker image save local:${{ github.sha }} | \
            ssh -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=no dokku@195.201.239.228 \
              git:load-image investit-etf-rechner local:${{ github.sha }}
